# File: k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
  labels:
    app: iris-api
spec:
  # Base default replicas to start at 1
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: us-central1-docker.pkg.dev/global-student-472816-d6/iris-repo/iris-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          # REQUIRED: HPA targets CPU utilization based on these requests
          requests:
            memory: "128Mi"
            cpu: "200m" # Request 20% of a CPU core
          limits:
            memory: "256Mi"
            cpu: "500m" # Limit to 50% of a CPU core
---
# Expose the Deployment externally via a Service
apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
spec:
  selector:
    app: iris-api
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
